.place__image {
  margin: 0;
  max-width: 460px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 48px;
  grid-area: image;
}

@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media (max-width: 320px) {
  .place__image {
    /* max-width: 288px; */
    width: 110%;
    margin-top: 0;
    margin-left: -16px;
  }
}
