.header {
  margin: 0 auto;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  color: #fff;
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media (max-width: 320px) {
  .header {
    width: calc(100% - 32px);
    margin-top: 16px;
  }
}
