.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  align-self: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #fff;
}

@media (max-width: 540px) {
  .cover__title {
    font-size: 45px;
  }
}

@media (max-width: 400px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
  }
}
